.authForm__button-container {
    margin-top: 216px;
}

.authForm__button-container button {
    border-radius: 2px;
    border: transparent;
    width: 358px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: opacity .7s ease;
}

.authForm__button-container:hover {
    opacity: .7;
}