.header__button {
    color: #fff;
    border: transparent;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: opacity .5s ease;
}

.header__button:hover {
    opacity: .7;
}