.popup__add-card {
    visibility: hidden;
    z-index: 1;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #fff;
    box-sizing: border-box;
    width: 430px;
    height: 330px;
    border-radius: 10px;
}
